* {
  margin:0;
  padding: 0;
  border:0;
  outline:0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #84a59d;
  --color-bg-v: #f28482;
  --color-pr: #f6bd60;
  --color-pr-v:#f7ede2;
  --color-w:white;
  --color-light: #ffefed;
  --container-w-lg:75%;
  --container-w-md:86%;
  --container-w-sm: 90%;
  --transition: all 400ms ease;
}

html {
  scroll-behavior:smooth;
}

::-webkit-scrollbar {
  display:none
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
  color: var(--color-w);
  line-height: 1.7;
}

.container {
  width: var(--container-w-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size:2.5rem;
}

section {
  margin-top: 8rem;
  height: 100vh;
}

section > h2, section > h5 {
  text-align: center;
  color: var(--color-light)
}

section > h2 {
  color: var(--color-pr);
  margin-bottom: 3rem;;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-pr);
  transition: var(--transition);
}

a:hover {
  color: var(--color-w);
}
.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-pr);
  padding: 0.75rem 1.2rem;
  border-radius:0.4rem;
  cursor:pointer;
  border: 1px solid var(--color-pr);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-w);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-pr);
  color:var(--color-bg)
}

img{
  display:block;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .container {
      width: var(--container-w-md);
  }
  section {
      margin-top: 6rem;
  }  
}

@media screen and (max-width: 576px) {
  .container {
      width: var(--container-w-sm);
  }
  section > h2{
      margin-top: 2rem;
  }  
}